@model AuthorCreateVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid mx-5 my-3">
    <h3>Author - Create</h3>
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div>
            <label class="my-3" asp-for="Name">Name</label>
            <input class="form-control" asp-for="Name">
            <span class="text-danger my-1" asp-validation-for="Name"></span>
        </div>

        <div>
            <label class="my-3" asp-for="About">About</label>
            <input class="form-control" asp-for="About">
            <span class="text-danger my-1" asp-validation-for="About"></span>
        </div>

        <a class="btn btn-danger my-3" style="color: white;" asp-controller="Author" asp-action="Index">Back</a>
        <button type="submit" class="btn btn-primary my-3" style="color: white;">Create</button>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationPartial" />
}