@model FooterVM

<div class="container">
    <div class="lastpart">
        <div class="socialmedia">
            <a href=""><img src="assets/img/logo.png.webp" alt=""></a>
            <p>
                Get the breathing space now, and we’ll <br> extend your term at the other end year for <br> go.
            </p>
            <ul>
                <li>
                    <a class="fb" href="#">@Html.Raw(Model.Settings?["Facebook"])</a>
                </li>
                <li>
                    <a class="igram" href="#">@Html.Raw(Model.Settings?["Instagram"])</a>
                </li>
                <li>
                    <a class="in" href="#">@Html.Raw(Model.Settings?["Linkedin"])</a>
                </li>
                <li>
                    <a class="ytube" href="#">@Html.Raw(Model.Settings?["Youtube"])</a>
                </li>
            </ul>
        </div>
        <div class="bookcategory">
            <h4>Book Category</h4>
            <div>
                <ul>
                    <li><a href="">History</a></li>
                    <li><a href="">Horror - Thriller</a></li>
                    <li><a href="">Love Stories</a></li>
                    <li><a href="">Science Fiction</a></li>
                    <li><a href="">Business</a></li>
                </ul>
                <ul>
                    <li><a href="">Biography</a></li>
                    <li><a href="">Astrology</a></li>
                    <li><a href="">Digital Marketing</a></li>
                    <li><a href="">Software Development</a></li>
                    <li><a href="">Ecommerce</a></li>
                </ul>
            </div>
        </div>
        <div class="sitemap">
            <h4>Site Map</h4>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="">FAQs</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
    <h1>
        Copyright ©2023 All rights reserved | This template is made with <i class="fa-solid fa-heart"></i> by
        Colorlib
    </h1>
</div>