@model AboutVM

@{
    ViewData["Title"] = "Index";
}

@section Links{
    <link rel="stylesheet" href="~/assets/css/about.css">
}

<section class="slider-area">
    <div class="container">
        <div class="aboutsection">
            <h2>About</h2>
        </div>
    </div>
</section>

<section class="story-goal-section">
    <div class="container">
        @foreach (var about in Model.Abouts)
        {
            <div class="ourstory">
                <h2>@about.Title</h2>
                <p>
                    @about.Content
                </p>
            </div>
        }
    </div>
</section>

@section Scripts{
    <script src="~/assets/js/about.js"></script>
}