@model BlogCreateVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid mx-5 my-3">
    <h3>Blog - Create</h3>
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div>
            <label class="my-3" asp-for="Photo">Image</label>
            <input class="form-control" asp-for="Photo">
            <span class="text-danger my-1" asp-validation-for="Photo"></span>
        </div>

        <div>
            <label class="my-3" asp-for="Name">Name</label>
            <input class="form-control" asp-for="Name">
            <span class="text-danger my-1" asp-validation-for="Name"></span>
        </div>

        <div>
            <label class="my-3" asp-for="Description">Description</label>
            <input class="form-control" asp-for="Description">
            <span class="text-danger my-1" asp-validation-for="Description"></span>
        </div>

        <div>
            <label class="my-3" asp-for="CategoryId">Category</label>
            <select class="form-control" asp-for="CategoryId" asp-items="@ViewBag.Categories"></select>
        </div>

        <div>
            <label class="my-3" asp-for="TagIds">Tag</label>
            <select class="form-control" asp-for="TagIds" asp-items="@ViewBag.Tags"></select>
        </div>
          
        <a class="btn btn-danger my-3" style="color: white;" asp-action="Index">Back</a>
        <button type="submit" class="btn btn-primary my-3" style="color: white;">Create</button>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationPartial" />
}