@model ChangePasswordVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="~/assets/css/login.css" />
    <title>Login</title>
</head>
<body>
    <section class="login">
        <div class="container">
            <div class="window" style="height: auto;">
                <div class="loginhead">
                    <span>Change Password</span>
                    <p>Enter New Password to get access</p>
                </div>
                <form asp-action="ChangePassword" method="post">
                    @if (ViewBag.IsSuccess == true)
                    {
                        <div class="alert alert-success">
                            Password has been updated successfully!
                        </div>
                    }
                    <div asp-validation-summary="All" style="color: red;"></div>
                    <label for="usernameOremail">Current Password</label>
                    <input asp-for="CurrentPassword" placeholder="Current Password" id="id_password" />
                    <i class="far fa-eye"
                       id="togglePassword"
                       style="margin-left: -30px; top: 45px; cursor: pointer"></i>

                    <label for="password">New Password</label>
                    <input asp-for="NewPassword" placeholder="New Password" />

                    <label for="password">Confirm Password</label>
                    <input asp-for="NewConfirmPassword" placeholder="Confirm Password" />

                    <div class="loginfoot" style="margin-top: 0;">
                        <button>Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script src="~/assets/js/login.js"></script>
</body>
</html>
