@model ForgetPasswordVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="~/assets/css/login.css" />
    <title>Login</title>
</head>
<body>
    <section class="login">
        <div class="container">
            <div class="window" style="height: auto;">
                <div class="loginhead">
                    <span>Forget Password</span>
                    <p>Enter your Email to get access</p>
                </div>
                <div style="color: red;" asp-validation-summary="All"></div>
                <form asp-action="ForgetPassword" method="post" style="margin-top: 20px;">
                    <label asp-for="Email">Your Email</label>
                    <input asp-for="Email" placeholder="Your Email" />
                    <div class="loginfoot" style="margin-top: 0;">
                        <button>Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script src="~/assets/js/login.js"></script>
</body>
</html>
