@model LoginVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="~/assets/css/login.css" />
    <title>Login</title>
</head>
<body>
    <section class="login">
        <div class="container">
            <div class="window">
                <div class="loginhead">
                    <span>Login</span>
                    <p>Enter Login details to get access</p>
                </div>
                <form asp-action="Login" method="post">
                    <label asp-for="UsernameOrEmail">Username Or Email Address</label>
                    <input asp-for="UsernameOrEmail" placeholder="Username / Email address" />
                    <span asp-validation-for="UsernameOrEmail" class="text-danger"></span>

                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" placeholder="Enter Password" id="id_password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <i class="far fa-eye"
                       id="togglePassword"
                       style="margin-left: -30px; cursor: pointer"></i>

                    <div class="keepme">
                        <input type="checkbox" class="check" />
                        <label for="">Keep Me Logged In</label>
                        <a asp-action="ForgetPassword">Forgot Password?</a>
                    </div>
                    <div class="loginfoot">
                        <p>
                            Don’t have an account? <a asp-action="Register">Sign Up</a> here
                        </p>
                        <button>Login</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/assets/js/login.js"></script>
</body>
</html>
