@model RegisterVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="~/assets/css/signup.css">
    <title>Register</title>
</head>
<body>
    <section class="signup">
        <div class="container">
            <div class="signupwindow">
                <div class="signuphead">
                    <span>Sign Up</span>
                    <p>Create your account to get full access</p>
                </div>
                <form asp-action="Register" method="post">
                    <div class="text-danger" style="display: flex;" asp-validation-summary="All"></div>

                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" placeholder="Enter name">
                    <span asp-validation-for="Name" class="text-danger"></span>

                    <label asp-for="Surname">Surname</label>
                    <input asp-for="Surname" placeholder="Enter surname">
                    <span asp-validation-for="Surname" class="text-danger"></span>

                    <label asp-for="Email">Email Address</label>
                    <input asp-for="Email" placeholder="Enter email address">
                    <span asp-validation-for="Email" class="text-danger"></span>

                    <label asp-for="Username">Username</label>
                    <input asp-for="Username" placeholder="Enter username">
                    <span asp-validation-for="Username" class="text-danger"></span>

                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" placeholder="Enter Password" id="id_password">
                    <span asp-validation-for="Password" class="text-danger"></span>

                    <label asp-for="ConfirmPassword">Confirm Password</label>
                    <input asp-for="ConfirmPassword" placeholder="Confirm Password" id="id_password">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    <i class="far fa-eye" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>

                    <div class="signupfoot" style="margin-top: 0;">
                        <p>Already have an account? <a asp-action="Login">Login</a> here</p>
                        <button>Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/assets/js/signup.js"></script>
</body>
</html>
