@model ConfirmAccountVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="~/assets/css/login.css" />
    <title>Login</title>
</head>
<body>
    <section class="login">
        <div class="container">
            <div class="window" style="height: auto;">
                <div class="loginhead">
                    <span>Confirm Email</span>
                    <p>Enter OTP to get access</p>
                </div>
                <form asp-action="ConfirmEmail" method="post" enctype="multipart/form-data" style="display: inline;">
                    <label for="usernameOremail">OTP</label>
                    <input asp-for="OTP" placeholder="OTP" />
                    <span style="display: block; color: red;" class="text-danger">@TempData["Error"]</span>
                    <input type="hidden" asp-for="Email">
                    <div class="loginfoot" style="margin-top: 0; display: inline;">
                        <button>Confirm</button>
                    </div>
                </form>
                <form asp-action="ResendOTP" asp-route-email="@Model.Email" style="position: relative;">
                    <p class="sign-up" style="position: absolute; right: 75px;">
                        OTP still not reached you?
                    </p>
                    <button style="border: none; padding: 10px; background: red; color: white; position: absolute; right: 0;">Resend</button>
                </form>
            </div>
        </div>
    </section>

    <script src="~/assets/js/login.js"></script>
</body>
</html>
