@model ProductVM

@{
    ViewData["Title"] = "Index";
}

@section Links{
    <link rel="stylesheet" href="~/assets/css/categories.css">
}

<section class="slider-area">
    <div class="container">
        <div class="bookcategoryimgsection">
            <h2>Book Shop</h2>
        </div>
    </div>
</section>

<section class="book-shop-area">
    <div class="container">
        <div class="filtersettings">
            <div class="filterwindow">
                <form action="">
                    <div class="searchbar">
                        <label for="search">
                            <input type="text" id="search" placeholder="Search book by author or publisher">
                            <i class="fa-sharp fa-solid fa-magnifying-glass" id="iconsearch"></i>
                        </label>
                    </div>
                    <div class="filterbyprice">
                        <h4>Filter by Price</h4>
                        <div class="range">
                            &nbsp;
                            <div class="range-slider">
                                <div class="progress"></div>
                                <span class="range-min-wrapper">
                                    <input class="range-min" type="range" min="0" max="1000" value="0">
                                </span>
                                <span class="range-max-wrapper">
                                    <input class="range-max" type="range" min="0" max="1000" value="500">
                                </span>
                            </div>
                            &nbsp;
                            <div class="rangeview">
                                <div class="min-value numberVal">
                                    <input type="number" class="" min="0" max="100" value="0" disabled>
                                </div>
                                <span>to</span>
                                <div class="max-value numberVal">
                                    <input type="number" class="border text-center" min="0" max="1000" value="500"
                                           disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filterbyrating">
                        <div class="select-btn">
                            <span class="sBtn-text">Filter by Rating</span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>

                        <ul class="options">
                            <li class="option">
                                <span class="option-text">5 Star Rating</span>
                            </li>
                            <li class="option">
                                <span class="option-text">4 Star Rating</span>
                            </li>
                            <li class="option">
                                <span class="option-text">3 Star Rating</span>
                            </li>
                            <li class="option">
                                <span class="option-text">2 Star Rating</span>
                            </li>
                            <li class="option">
                                <span class="option-text">1 Star Rating</span>
                            </li>
                        </ul>
                    </div>
                    <div class="filterbygenres">
                        <h4>Filter by Genres</h4>
                        @foreach (var genre in Model.Genres)
                        {
                            <label for="">
                                <input type="checkbox">
                                @genre.Name
                            </label>
                        }
                    </div>
                    <div class="filterauthorname">
                        <h4>Filter by Author Name</h4>
                        @foreach (var author in Model.Authors)
                        {
                            <label for="">
                                <input type="checkbox">
                                @author.Name
                            </label>
                        }
                    </div>
                    <button class="submit-btn">
                        <h1>Submit</h1>
                    </button></a>
                </form>
            </div>
            <div class="browsemenu">
                <div class="browse-by-popularity">
                    <div class="browse-by-popularity-btn">
                        <span class="sBrowse-by-popularity-btn-text">Browse by popularity</span>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <ul class="browse-by-popularities">
                        <li class="browse_list">
                            <span class="browse-text">Browse by popularity</span>
                        </li>
                        <li class="browse_list">
                            <span class="browse-text">Name</span>
                        </li>
                        <li class="browse_list">
                            <span class="browse-text">NEW</span>
                        </li>
                        <li class="browse_list">
                            <span class="browse-text">Old</span>
                        </li>
                        <li class="browse_list">
                            <span class="browse-text">Price</span>
                        </li>
                    </ul>
                </div>
                <div class="books">
                    <ul class="carousel row" style="row-gap: 15px; padding-left: 20px;">
                        <partial name="_ProductsPartial" />
                    </ul>
                </div>
                <div class="browsebtn">
                    <a href="">
                        <button class="browsemorebtn">
                            <h1>Browse More</h1>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="joinnewsletter">
    <div class="container">
        <div class="sub">
            <h3>Join Newsletter</h3>
            <p>
                Lorem started its journey with cast iron (CI) products in 1980. The initial main
                objective<br>wastoensure pure water and affordable irrigation.
            </p>
            <form action="#">
                <input type="text" placeholder="Enter your email" required="required">
                <a href="">
                    <button class="subscribe-btn">
                        <h1>Subscribe</h1>
                    </button>
                </a>
            </form>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/assets/js/categories.js"></script>
}